# Local .terraform directories
**/.terraform/*

# .tfstate files
terraform/*.tfstate
terraform/*.tfstate.*

# Crash log files
terraform/crash.log

# Exclude override files as they are usually used to override resources locally
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Ignore CLI configuration files
terraform/.terraformrc
terraform/terraform.rc

## custom
.DS_Store
terraform/.terraform.lock.hcl